
html {
}

body {
	margin: 0 auto;
	max-width: 1000px;
	font-family: "Courier New", monospace;
}

p {
	font-size: 120%;
	line-height: 150%;
}

b {
	background: #000;
	color: magenta;
	padding: 5px;
}
